body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,#d4fc79,#96e6a1);
}

.container{
    width:90%;
    max-width:700px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    text-align:center;
}

h1{
    color:#2e7d32;
}

p{
    color:#555;
}

input{
    margin-top:20px;
}

img{
    margin-top:20px;
    max-width:300px;
    border-radius:15px;
}

#result{
    margin-top:25px;
    font-size:18px;
    font-weight:bold;
}
